/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
/* Colors */
:root{
    --brown : rgb(70, 0, 0);
    --yellow:  rgb(254,193,60);
    --red:  rgb(255,0,0);
}

/* General CSS */
.hero-txt{
    color: var(--brown);
    font-size: 1.3rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    border: 2px dashed var(--brown);
    align-self: self-start;
    padding: 3px 8px;
    letter-spacing: -1px;
    margin: 0;
}
.hero-heading{
    color: var(--brown);
    font-size: 7rem;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    margin: 0;
    padding: 0;

}
.hero-sub-heading{
    color: var(--brown);
    font-size: 4.5rem;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: 900;
    margin: 0;
    
}
.heading-1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: "Roboto Slab", sans-serif;
    margin: 0px;
    color: var(--brown);
    font-weight: 900;
}
.heading-2{
    color: var(--brown);
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
}
.txt-1{
    color: var(--brown);
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: capitalize;
    margin: 0px;
}
.txt-2{
    color: var(--brown);
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: capitalize;
    margin: 0px;
}

/* Main CSS */
#hero-section{
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
}

#hero-section nav .logo{
    height: 60px;
}
#hero-section nav .logo-name{
    color: var(--brown);
    font-size: 2rem;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

#hero-section nav i{
    color: var(--brown);
    font-size: 1.2rem;
    margin: 0px 4px;
}
#hero-section nav a{
    color: var(--brown);
    font-size: 1.1rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;

}
#hero-section .hero-image{
    height: 450px;
    filter: drop-shadow(0px 0px 40px white);
}
#hero-section .shadow::before{
    content: '';
    position: absolute;
    bottom: -50px;
    left: 15%;
    width: 80%;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    filter: blur(10px);
}
#discover .bg{
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 10px;
    background-repeat: none;
    background-position: center;
    background-size: cover;   
}
#discover .txt-1,
#discover .heading-2{
    color: white;
    margin: 0;

}
#discover .bg-1{
    background-image: url(../img/images\ \(1\).jfif);
}
#discover .bg-2{
    background-image: url(../img/images\ \(2\).jfif);
}
#discover .bg-3{
    background-image: url(../img/images\ \(3\).jfif);
}

#burgers .box{
    display: inline;
    padding: 5px 10px;
    background-color: var(--yellow);
    font-weight: 600;
}
#burgers .heading-1{
    margin: 15px 0px;
}
#burgers .shadow::before{
    content: '';
    position: absolute;
    bottom: 175px;
    left: 16%;
    width: 70%;
    height: 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    filter: blur(8px);
}
#burgers .shadow img{
    height: 250px;
}
#burgers .detail p{
    margin: 15px 0px;
}
#burgers .detail button{
    background-color: var(--red);
    border: none;
    padding: 7px 14px;
    color: white;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
#upcoming .bg-img{
    background-image: url(../img/images\ \(3\).jfif);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
#upcoming .shadow{
    box-shadow: 4px 4px 20px rgb(182, 182, 182);
}

#upcoming .circle{
    height: 15px;
    width: 15px;
    margin: 4px 10px 4px 0px;
    background-color: rgb(182, 182, 182);
    border-radius: 50%;
}
#upcoming .circle:nth-child(1){
    background-color: var(--yellow);
}

#reservation{
    overflow: hidden;
}
#reservation input{
    width: 100%;
    font-size: 1rem;
    padding: 10px 12px;
    margin: 8px 4px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}
#reservation input[type = submit]{
    background-color: var(--red);
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    color: white;
    border: none;
}
#reservation .bg-1{
    transform: translate(-280px ,-150px);
    width: 300px;
}
#reservation .bg-2{
    transform: translate(200px ,100px);
    width: 350px;
}